<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <link href='{% static "/css/thems.css" %}' rel='stylesheet' type="text/css">

{#    <line href="{% static "css/thems.css" %}" rel = 'stylesheet' type="text/css"></line>#}
</head>


<body>
<div id="login_box">
    <h2>接口自动化测试平台</h2>
    <div id="input_box">
        <form action="/login/" method="post">
            <p>账号: <input type="text" name="username"/></p>
            <p>密码: <input type="password" name="password"/></p>
            <h3>{{ error }}</h3>
            {% csrf_token %}
            <input
                    class = "my-input"
                    type="submit" value="登录"/>
        </form>
    </div>

</body>
</html>
