# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\auth\cmderr\test_platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
